# day 1d

In [2]:
7*7

49

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    [
     {
         "name": "Earl Grey Cloud",
         "category": "E-commerce"
     },
    {
         "name": "Mint Medly Cloud",
         "category": "Sales"
     },
    {
         "name": "Green Cloud",
         "category": "Service"
     },
    ]
)

In [5]:
df

     category              name
0  E-commerce   Earl Grey Cloud
1       Sales  Mint Medly Cloud
2     Service       Green Cloud